TrainEventSearch/IIProjectClient/Service References/FordonPassageService/FordonPassageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FordonPassageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50720/FordonPassageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50720/FordonPassageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFordonPassageService_GetFordonPassage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFordonPassage" />
  </wsdl:message>
  <wsdl:message name="IFordonPassageService_GetFordonPassage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFordonPassageResponse" />
  </wsdl:message>
  <wsdl:message name="IFordonPassageService_GetAllLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocations" />
  </wsdl:message>
  <wsdl:message name="IFordonPassageService_GetAllLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IFordonPassageService_GetVehicleFromEpc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleFromEpc" />
  </wsdl:message>
  <wsdl:message name="IFordonPassageService_GetVehicleFromEpc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleFromEpcResponse" />
  </wsdl:message>
  <wsdl:message name="IFordonPassageService_GetLocationFromEpc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationFromEpc" />
  </wsdl:message>
  <wsdl:message name="IFordonPassageService_GetLocationFromEpc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationFromEpcResponse" />
  </wsdl:message>
  <wsdl:message name="IFordonPassageService_AuthorizeUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeUser" />
  </wsdl:message>
  <wsdl:message name="IFordonPassageService_AuthorizeUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IFordonPassageService">
    <wsdl:operation name="GetFordonPassage">
      <wsdl:input wsaw:Action="http://tempuri.org/IFordonPassageService/GetFordonPassage" message="tns:IFordonPassageService_GetFordonPassage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFordonPassageService/GetFordonPassageResponse" message="tns:IFordonPassageService_GetFordonPassage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IFordonPassageService/GetAllLocations" message="tns:IFordonPassageService_GetAllLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFordonPassageService/GetAllLocationsResponse" message="tns:IFordonPassageService_GetAllLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleFromEpc">
      <wsdl:input wsaw:Action="http://tempuri.org/IFordonPassageService/GetVehicleFromEpc" message="tns:IFordonPassageService_GetVehicleFromEpc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFordonPassageService/GetVehicleFromEpcResponse" message="tns:IFordonPassageService_GetVehicleFromEpc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationFromEpc">
      <wsdl:input wsaw:Action="http://tempuri.org/IFordonPassageService/GetLocationFromEpc" message="tns:IFordonPassageService_GetLocationFromEpc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFordonPassageService/GetLocationFromEpcResponse" message="tns:IFordonPassageService_GetLocationFromEpc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFordonPassageService/AuthorizeUser" message="tns:IFordonPassageService_AuthorizeUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFordonPassageService/AuthorizeUserResponse" message="tns:IFordonPassageService_AuthorizeUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFordonPassageService" type="tns:IFordonPassageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFordonPassage">
      <soap:operation soapAction="http://tempuri.org/IFordonPassageService/GetFordonPassage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocations">
      <soap:operation soapAction="http://tempuri.org/IFordonPassageService/GetAllLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleFromEpc">
      <soap:operation soapAction="http://tempuri.org/IFordonPassageService/GetVehicleFromEpc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationFromEpc">
      <soap:operation soapAction="http://tempuri.org/IFordonPassageService/GetLocationFromEpc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeUser">
      <soap:operation soapAction="http://tempuri.org/IFordonPassageService/AuthorizeUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FordonPassageService">
    <wsdl:port name="BasicHttpBinding_IFordonPassageService" binding="tns:BasicHttpBinding_IFordonPassageService">
      <soap:address location="http://localhost:50720/FordonPassageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>